<%- include('partials/header') %> 

            <div id="chatBox">
                <div id="chatBox-left"></div>
                <div id="chatBox-right">
                    <div id="chatBox-informations">
                        <h1>Chatroom #1</h1>
                    </div>
                    <div id="chatBox-container">
                        <div id="chatBox-messages">
                        </div>
                        <!-- <div id="chatBox-users">
                            <div class="user">
                                <img src="/assets/img/pp.png" alt="" class="user__profile-picture">
                                <h4>DavDav</h4>
                                <div class="user__status --connected"></div>
                            </div>
                            <div class="user">
                                <img src="/assets/img/pp.png" alt="" class="user__profile-picture">
                                <h4>DavDav</h4>
                                <div class="user__status --connected"></div>
                            </div>
                            <div class="user">
                                <img src="/assets/img/pp.png" alt="" class="user__profile-picture">
                                <h4>DavDav</h4>
                                <div class="user__status --dnd"></div>
                            </div>
                            <div class="user">
                                <img src="/assets/img/pp.png" alt="" class="user__profile-picture">
                                <h4>DavDav</h4>
                                <div class="user__status --afk"></div>
                            </div>
                            <div class="user">
                                <img src="/assets/img/pp.png" alt="" class="user__profile-picture">
                                <h4>DavDav</h4>
                                <div class="user__status --disconnected"></div>
                            </div>
                            <div class="user">
                                <img src="/assets/img/pp.png" alt="" class="user__profile-picture">
                                <h4>DavDav</h4>
                                <div class="user__status --disconnected"></div>
                            </div>
                            <div class="user">
                                <img src="/assets/img/pp.png" alt="" class="user__profile-picture">
                                <h4>DavDav</h4>
                                <div class="user__status --disconnected"></div>
                            </div>
                            <div class="user">
                                <img src="/assets/img/pp.png" alt="" class="user__profile-picture">
                                <h4>DavDav</h4>
                                <div class="user__status --disconnected"></div>
                            </div>
                        </div> -->
                    </div>
                    <div id="chatBox-input">
                        <form id="chatBox-form">
                            <input id="chatBox-form-input" type="text" placeholder="Type your message..">
                            <button id="send-message-button">Send</button>
                        </form>
                    </div>
                </div>
            </div>
<%- include('partials/footer') %> 