<%- include('partials/header') %> 
    <div id="chatBox">
        <div id="chatBox-loginContainer">
            <h1>Choose a username 👀</h1>
            <form id="chatBox-LoginForm" method="post">
                <input type="text" name="username" placeholder=" ex: DavDav.js" id="username">
                <input type="submit" value="Connect 🚀">
            </form>
        </div>
    </div>
<%- include('partials/footer') %> 